{
    margin: auto;
    box-sizing: border-box;
    padding: 0;
}

body {
    height:100vh;
    display: flex;
    background-color: rgba(87, 190, 130, 0.5);
}
.wrapper {
    text-align: center;
}

/* .jumbotron {
    text-align: center;

}

.button {
    position: absolute;
    top: 50%;
}
.form-group {
    position: center;
} */
